@media (max-width: 1368px) {
    .slogan__text {
        font-size: 92px;
    }
}

@media (max-width: 1320px) {
    .guys__slider-block {
        max-width: 410px;
    }
}

@media (max-width: 1280px) {
    .guys__slider-block {
        max-width: 380px;
    }


    .slogan__text {
        font-size: 80px;
    }


    .products__text-animation p {
        font-size: 80px;
    }

    .products__img {
        width: 561px;
        height: 515px;
        right: 0;
        top: 130px;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        100% {
            transform: scale(1.12);
            opacity: 0;
        }
    }

    .products__animation-btn-wrapper {
        justify-content: flex-end;
    }

    .products__animation-description-wrapper {
        display: none;
    }


    .footer__decor {
        top: 105px;
    }

}


@media (max-width: 1180px) {
    .guys__slider-block {
        max-width: 340px;
    }

    .slider__home-img {
        max-height: 565px;
    }
}


@media (max-width: 1080px) {
    .guys__slider-block {
        max-width: 310px;
    }
}


@media (max-width: 1024px) {
    .guys__slider-block {
        max-width: 300px;
    }


    .portfolio__title {
        font-size: 78px;
        padding-bottom: 5px;
    }

    .portfolio__description-btn-wrapper {
        display: none;
    }

    .portfolio__description-name {
        padding-top: 10px;
    }


    .clients__title {
        font-size: 80px;
        padding-bottom: 10px;
    }


    .contacts__title {
        font-size: 80px;
    }



    .news {
        padding-top: 150px;
    }

    .news__title {
        font-size: 80px;
    }


    .news1 {
        padding-top: 150px;
    }

    .news__title1 {
        font-size: 80px;
    }

    .news__img1 {
        height: 430px;
    }


    .footer__decor {
        top: 85px;
    }

}


@media (max-width: 960px) {
    .header {
        padding-top: 30px;
    }

    .header__logo {
        /* width: 72px; */
    }

    .header__container-mobile .header__logo path {
        fill: #eeeeee;
    }

    .header__nav-btn {
        display: block;
    }

    .header__nav, .header__language {
        display: none;
    }

    .header__container-mobile {
        position: fixed;
        background-color: #151515;
        opacity: 0.98;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        flex-direction: column;
        justify-content: flex-start;
        /* gap: 50px; */
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header__container-mobile .header__nav {
        display: grid;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .header__container-mobile .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .header__container-mobile .nav__list a {
        color: #eeeeee;
    }

    .header__container-mobile .dropdown__button {
        background-color: #151515;
        border: 1px solid #151515;
        color: #eeeeee;
    }

    .header__container-mobile .dropdown__button::after {
        border: solid #eeeeee;
        border-width: 0 2px 2px 0;
    }

    .header__container-mobile .dropdown__list {
        background: #151515;
        box-shadow: none;
        border: 1px solid #151515;
    }

    .header__container-mobile .dropdown__list-item {
        border: 1px solid #151515;
    }

    .header__container-mobile .dropdown__list-item {
        border-bottom: 1px solid #151515;
    }

    .header__container-mobile .dropdown__list-item:hover {
        background: #151515;
    }

    .header__container-mobile .dropdown__list-link, 
    .header__container-mobile .dropdown__list-link:hover, 
    .header__container-mobile .dropdown__list-link:active, 
    .header__container-mobile .dropdown__list-link:focus {
        color: #eeeeee;
    }


    .guys {
        padding-top: 80px;
    }

    .guys__slider-block {
        max-width: 290px;
    }

    .guys__letter-u {
        padding-left: 25px;
        padding-right: 50px;
    }

    .guys__letter-y {
        padding-left: 50px;
        padding-right: 25px;
    }


    .slider {
        padding-top: 150px;
    }

    .slider__home-img {
        max-height: 475px;
    }


    .slogan__text {
        font-size: 60px;
    }

    .wrap {
        width: 300px;
    }

    .cube {
        height: 200px;
        width: 200px;
    }

    .cube > div {
        font-size: 48px;
    }

    .front {
        transform: translateZ(100px) rotateY(0deg);
    }
    
    .wrap:hover .front {
        transform: translateZ(150px);
    }
    
    .wrap:hover .back {
        transform: translateZ(-150px) rotateY(180deg);
    }
    
    .wrap:hover .right {
        transform: rotateY(-270deg) translateZ(50px) translateX(100px);
    }
    
    .wrap:hover .left {
        transform: rotateY(270deg) translateZ(50px) translateX(-100px);
    }
    
    .wrap:hover .top {
        transform: rotateX(-270deg) translateZ(50px) translateY(-100px);
    }
    
    .wrap:hover .bottom {
        transform: rotateX(270deg) translateZ(50px) translateY(100px);
    }


    .products__wrapper {
        flex-direction: column;
    }

    /* .products__description {
        flex: 0 0 100%;
    } */

    .products__text-animation p {
        display: none;
    }

    .products__description-bg-right {
        display: none;
    }

    .products__description-bg-top {
        height: 150px;
        background: linear-gradient(270deg, #1B1B1C 0%, rgba(27, 27, 28, 0.70) 20%, rgba(27, 27, 28, 0.00) 40%);
    }

    .products__description-bg-bottom {
        height: 430px;
        top: 390px;
        background: linear-gradient(180deg, #ffa600 -10%, rgba(244, 54, 12, 0.00) 98%);
    }

    .products__text-animation-horizont {
        padding-top: 57px;
        width: 100%;
    }
    
    .products__text-animation-horizont p:first-child {
        /* display: inline-block; */
        font-size: 60px;
        font-weight: 500;
        line-height: 118%; /* 56.64px */
        text-transform: uppercase;
        color: #eeeeee;
        white-space: nowrap;
        animation: ticker 20s linear infinite;
    }

    @keyframes ticker {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-300%);
        }
    }

    .products__text-animation-horizont p:nth-child(2n) {
        font-size: 18px;
        font-weight: 500;
        line-height: 130%; /* 23.4px */
        color: #eeeeee;
        padding-top: 45px;
        width: 80%;
    }

    .products__animation {
        flex: 0 0 auto;

        display: flex;
        justify-content: center;

    }

    .products__img {
        width: 461px;
        height: 415px;

        /* position: absolute;
        top: 250px;
        left: 20%; */
        position: relative;
        top: 50px;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        100% {
            transform: scale(1.12);
            opacity: 0;
        }
    }

    .products__animation-btn-wrapper {
        justify-content: flex-start;
    }

    .products__animation-btn-block {
        width: 100%;
        bottom: 64px;
        right: 0;
        left: 15px;
    }

    .products__animation-btn-next {
        border: 1px solid #eeeeee;
        background: rgba(255, 255, 255, 0.2);
        /* backdrop-filter: blur(2px); */
    }

    .products__animation-description-wrapper {
        display: none;
    }

}


@media (max-width: 920px) {
    .guys__slider-block {
        max-width: 250px;
    }


    .portfolio__title {
        font-size: 72px;
        padding-bottom: 10px;
    }
}


@media (max-width: 860px) {
    .guys__slider-block {
        max-width: 240px;
    }


    .portfolio__link-wrapper {
        display: none;
    }

    .portfolio__slider-block {
        left: 0;
    }

    .portfolio__title {
        font-size: 64px;
        padding-bottom: 15px;
    }


    .clients__title {
        font-size: 64px;
        padding-bottom: 18px;
    }


    .contacts__title {
        font-size: 64px;
    }

    .contacts__form {
        padding-top: 36px;
    }

    .contacts__fieldset {
        margin-bottom: 36px;
    }

    .contacts__wrapper-input-block {
        flex-direction: column;
        margin: 0;
    }

    .contacts__wrapper-input {
        margin-right: 0;
        padding-bottom: 16px;
    }

    .contacts__subtitle {
        font-size: 20px;
    }

    .contacts__input, .contacts__textarea {
        font-size: 20px;
        padding: 16px;
    }

    .contacts__submit {
        font-size: 20px;
        padding: 24px 38px;
    }


    /* .news {
        padding-top: 150px;
    } */

    .news__title {
        font-size: 64px;
    }


    /* .news1 {
        padding-top: 150px;
    } */

    .news__title1 {
        font-size: 64px;
    }

    .news__img1 {
        height: 360px;
    }


    .footer__content-items {
        flex-direction: column;
    }

    .footer__menu-wrapper {
        padding-top: 167px;
        padding-bottom: 180px;
    }

    .footer__decor {
        top: 40px;
    }

    .footer__decor-items {
        gap: 50px;
    }

}


@media (max-width: 820px) {
    .guys__slider-block {
        max-width: 230px;
    }
}


@media (max-width: 768px) {
    .guys {
        padding-top: 110px;
    }

    .guys__container {
        /* display: inline-block; */
        position: relative;
        height: 285px;
    }

    .guys__slider-block {
        padding-top: 70px;
    }

    .guys__letter {
        height: 156px;
        z-index: 6;
    }

    .guys__letter-g {
        position: absolute;
        top: -40px;
    }

    .guys__letter-u {
        position: absolute;
        top: -40px;
        left: 135px;
    }

    .guys__letter-y {
        height: 212px;
    }
    
    .guys__letter-y {
        position: absolute;
        top: 224px;
        right: 150px;
    }

    .guys__letter-s {
        position: absolute;
        top: 280px;
        right: 15px;
    }


    .guys__slider-block {
        max-width: 398px;
        /* min-height: 243px; */
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }

    .guys__arrow {
        display: none;
    }


    .slider__slogan-wrapper {
        display: block;
        padding-top: 90px;
        width: 270px;
        padding-left: 35px;
    }

    .slider__slogan-text {
        color: #000;
        font-size: 24px;
        font-weight: 400;
    }

    .slider__slogan-link {
        padding-top: 18px;
    }

    .slider__slogan-link a {
        color: #151515;
        font-size: 20px;
        font-weight: 400;
        text-decoration-line: underline;
    }

    .slider__home {
        padding-top: 44px;
    }

    .slider__home-arrow {
        display: none;
    }

    .slider__home {
        margin: 0 -15px;
    }

    .slider__home-img {
        border-radius: 24px 24px 0 0;
    }


    .portfolio {
        padding-top: 0;
    }

    .portfolio__container {

    }

    .portfolio__title {
        font-size: 48px;
        width: 216px;
        padding-top: 56px;
    }

    .portfolio__slider-block {
        padding-top: 22px;
    }


    .slogan {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .slogan__text {
        font-size: 48px;
    }

    .cube > div {
        font-size: 36px;
    }


    .products__text-animation-horizont p:first-child {
        display: inline-block;
        font-size: 48px;
        animation: ticker 20s linear infinite;
    }

    @keyframes ticker {
        0% {
            transform: translateX(30%);
        }
        100% {
            transform: translateX(-100%);
        }
    }


    .products__text-animation-horizont p:nth-child(2n) {
        width: 90%;
    }


    .clients__title {
        font-size: 52px;
        width: 300px;
        padding-bottom: 20px;
    }

    .clients__slider-block {
        padding-top: 44px;
    }

    .clients__slider-btn-wrapper {
        display: none;
    }


    .contacts__title {
        font-size: 52px;
        width: 280px;
        padding-bottom: 20px;
    }


    .news {
        display: none;
    }


    .news__title1 {
        font-size: 58px;
        width: 300px;
    }

    .news__description-wrapper1 {
        padding-top: 32px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .news__text1 {
        padding-top: 12px;
    }

    .news__text1 h3 {
        font-size: 22px;
    }

    .news__btn-wrapper-open {
        padding-top: 32px;
    }


    .footer__menu-wrapper {
        padding-bottom: 150px;
    }

    .footer__decor {
        top: 20px;
    }

    .footer__decor-items {
        gap: 40px;
    }
}


@media (max-width: 640px) {
    .header {
        padding-top: 15px;
    }

    .guys__letter {
        height: 136px;
    }

    .guys__letter-u {
        position: absolute;
        top: -40px;
        left: 115px;
    }

    .guys__letter-y {
        height: 181px;
    }
    
    .guys__letter-y {
        position: absolute;
        top: 234px;
        right: 125px;
    }
}


@media (max-width: 560px) {
    .guys__letter {
        height: 126px;
    }

    .guys__letter-g {
        position: absolute;
        top: -20px;
    }

    .guys__letter-u {
        position: absolute;
        top: -20px;
        left: 105px;
    }

    .guys__letter-y {
        height: 168px;
    }
    
    .guys__letter-y {
        position: absolute;
        top: 237px;
        right: 110px;
    }


    .slider__home-img {
        height: 363px;
    }


    .footer__menu-wrapper {
        padding-bottom: 110px;
    }

    .footer__decor {
        top: 20px;
    }

    .footer__decor-items {
        gap: 30px;
    }


}


@media (max-width: 496px) {
    .guys {
        padding-top: 50px;
    }

    .guys__container {
        height: 230px;
    }
    
    .guys__slider-block {
        max-width: 316px;
    }

    .guys__letter {
        height: 106px;
    }
    .guys__letter-g {
        position: absolute;
        top: 0;
    }

    .guys__letter-u {
        position: absolute;
        top: 0;
        left: 85px;
    }

    .guys__letter-y {
        height: 138px;
    }
    
    .guys__letter-y {
        position: absolute;
        top: 209px;
        right: 96px;
    }

    .guys__letter-s {
        position: absolute;
        top: 244px;
    }
}


@media (max-width: 426px) {
    .guys__container {
        height: 208px;
    }

    .guys__slider-block {
        max-width: 280px;
    }

    .guys__letter {
        height: 98px;
    }

    .guys__letter-g {
        position: absolute;
        top: 0;
    }

    .guys__letter-u {
        position: absolute;
        top: 0;
        left: 78px;
    }

    .guys__letter-y {
        height: 132px;
    }
    
    .guys__letter-y {
        position: absolute;
        top: 180px;
        right: 84px;
    }

    .guys__letter-s {
        position: absolute;
        top: 215px;
    }


    .footer__menu-wrapper {
        padding-bottom: 60px;
    }

    .footer__decor {
        top: 20px;
    }

    .footer__decor-items {
        gap: 16px;
    }
}


@media (max-width: 408px) {
    .guys__letter {
        height: 96px;
    }

    .guys__letter-y {
        height: 128px;
    }
    
    .guys__letter-s {
        position: absolute;
        top: 214px;
    }


    .slider__slogan-wrapper {
        padding-top: 10px;
        padding-left: 8px;
    }


    .portfolio__slider-btn-wrapper {
        top: 330px;
    }

    .portfolio__container {
        min-height: 650px;
    }

    .portfolio__block {
        margin: 0 -15px;
    }

    .portfolio__description-wrapper {
        min-height: 65px;
    }

    .portfolio__description-name {
        padding-left: 15px;
        width: 180px;
    }

    .portfolio__description-name::before {
        left: 15px;
    }

    .portfolio__slider-item:hover .portfolio__description-name  {
        padding-top: 9px;
        font-size: 20px;
    }

    .portfolio__slider-item:hover .portfolio__description-name::before {
        content: '';
        bottom: 6px;
    }


    .slogan {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    
    .products__container {
        height: 700px;
    }

    .products__img {
        top: 10px;
    }

    .products__text-animation-horizont p:nth-child(2n) {
        padding-top: 30px;
    }


    .clients {
        padding-top: 120px;
    }

    .clients__slider-block {
        padding-top: 35px;
    }

    .clients__slider-description-text {
        height: 180px;
    }


    .contacts {
        padding-top: 60px;
    }


    .news1 {
        padding-top: 120px;
    }


    .footer  {
        padding-top: 120px;
    }

    .footer__content-items {
        padding-top: 120px;
    }

    .footer__menu-wrapper {
        padding-top: 120px;
    }
}